**/.git
**/.vs
**/.idea
**/.vscode
**/bin
**/obj
**/TestResults
**/logs
**/*.user
**/*.suo
**/.DS_Store
tests/
**/node_modules
**/dist
*.md
docker-compose*.yml
.dockerignore
.env
.env.*
artifacts/
coverage/
**/*.http
**/*.userprefs
