<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[HackerNews.BestStories.Blazor]*</Include>
          <Exclude>[HackerNews.BestStories.Blazor.Tests]*</Exclude>
          <ExcludeByFile>**/Components/Layout/MainLayout.razor</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>